.hourCell {
  place-self: start end;
  font: var(--body3-regular);
  position: relative;
  padding-inline-end: 1rem;
  transform: translateY(-50%);
}

.hourCell::after {
  content: "";
  inline-size: 0.5rem;
  block-size: 1px;
  background: var(--gray20);
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 50%;
}
